#favorite-countries-large h1{
  text-align: center;
}

#favorite-countries-small{
  display: none;
}

table , td, th{
  margin: auto;
  width: 85%;
  border: 1px solid black;
  padding: .1em;
  text-align: center;
  border-collapse: collapse;
}

td, th {
  width: 13.5%;
  padding: 1em;
}

td:nth-child(1) {
  width: 19%;
}

th:nth-child(1) {
  width: 19%;
}

table tbody tr{
  border: 1 px solid black;
}
@media only screen and (max-width:680px) {
  #favorite-countries-large {
    display: none;
  }
  #favorite-countries-small {
    display:block;
  }
  details {
    margin-left: 15%;
  }
  details p {
    margin-left: 2em;
  }
  #no-favorites{
    margin-left: 5%;
  }
}