body{
  background-color: #EAE7DC;
}

#error{
  margin-left: 2%;
}

*{
  font-size: 17.25px;
}

nav *{
  text-decoration: none;
  margin: 1%;
  color: black;
  padding: 1em;
  text-align: center;
}

nav{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.active{
  font-weight: bold;
  background-color: #D8C3A5;
}

#popular h2{
  margin-left: 2%;
  width: 10em;
  text-decoration: underline;
  font-size: 1.2em;
}

#countries div {
  display: inline;
  flex: 0 0 10%;
}
/*
#countries div p{
  display: inline;
  margin-left: 0.3em;
  text-align: center;
  width: 10em;
}
*/

#countries {
  margin-top: 3em;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

#countries div:hover{
  cursor:pointer;
}

#search-bar {
  height: 0.8em;
  padding: 0.5em;
}

form {
  display: flex;
  margin-left: 2%;
}

#search-countries{
  margin-top: 3em;
}

#search-countries h1{
  margin-left: 2%;
  width: 10em;
  text-decoration: underline;
  font-size: 1.2em;
}

#not-found{
  margin-left: 2%;
}

footer {
  margin-top: 5em;
  text-align: center;
}

#intro {
  margin-left: 2%;
  margin-top: 2%;
}

#intro h2{
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#stats{
  margin-left: 2%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#stats div {
  flex: 0 1 13em;
}

#stats div * {
  display: inline;
}

#confirmed h3{
  color: darkgreen;
}
#critical h3{
  color: darkorange;
}
#deaths h3{
  color: darkred;
}
#recovered h3{
  color: darkcyan;
}
#latitude h3{
  color: yellowgreen;
}
#longitude h3 {
  color: darkorchid
}

.country-circle img{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1025px) {
  #stats div {
    flex: 0 1 15em;
  }
}

@media only screen and (max-width: 769px) {
  * {
    font-size: 15px;
  }
  #countries div {
    display: inline;
    flex: 0 0 17%;
  }
  #countries {
    height: 19em;
    margin-top: 3em;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  #countries {
    height: 16em;
  }
  #stats {
    justify-content:space-around;
    height: 12.5em;
  }
  #flag{
    width: 18em;
  }
}

@media only screen and (max-width: 426px) {
  * {
    font-size: 13px;
  }
  #countries div {
    display: inline;
    flex: 0 0 17%;
  }
  #countries {
    margin-top: 3em;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
    height: 12em;
  }
}

@media only screen and (max-width: 376px) {
  #countries {
    
  }
}